body {
    width: 400px;
    /*background-color: rgb(47 7 100);*/
    background-color: rgb(37, 37, 37);
}

.section {
  padding: 1.5rem !important;
}

.container2 {
  display: flex;
  justify-content: space-between;
}

.button {
  border-color: rgb(0, 0, 0) !important;
  border-width: 1.5px !important;
}

.button:hover {
  opacity: 0.85 !important;
}

.tab {
    display: flex;
}

.tab__item {
    display: block;
    padding: 0.5em;
}

.tab__title,
.tab__url {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tab__focus {
    color: #0000ff;
}

.tab__close {
    color: #ff0000;
}

#title-text {
  color: rgb(230, 230, 230);
  margin-bottom: 15px !important;
}

#subtitle-text {
  color: rgb(187, 187, 187);
  margin-top: 0 !important;
  margin-bottom: 12px !important;
}



#title-text {
	background: linear-gradient(-45deg, orange , yellow, green, cyan, blue, violet, orange);
	background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  -webkit-text-fill-color : transparent;
  -webkit-background-clip : text;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 200% 0%;
	}
	100% {
		background-position: 400% 0%;
	}
}